<section class="container">


<div class='sub-container'>
<h1>Available users</h1>
  <% @users.each do |user| %>
    <div class='user_container'>
      <div class="img-div"><img alt='image' src='<%=user.photo%>' class='image'/></div>
      <div class='user-info'>
        <span><%= link_to user.name, user, class: 'user' %></span>
        <span class="count">Number of posts: <%= user.posts_counter%></span>
      </div>
    </div>
  <% end %>
</div>
</section>