*{
    box-sizing: border-box;
}
.main_container{
    width: 100%;
}
.container{
    max-width: 1400px;
    margin: auto;
    background-color: azure;
}
.sub-container{
    width: 80%;
    margin: auto;
    border: 1px solid gray;
}
.form_div{
    width: 600px;
    margin: auto;
    border: 1px solid black;
}
.form_div h2{
    text-align: center;
}
.new_user{
    width: 600PX;
    margin: auto;
}
.input_field{
    width: 100%;
    padding: 12px;
}
.actions{
    text-align: center;
}
.footer{
    text-align: center;
}